* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Zilla Slab", "Arvo";
  }
  body{
    background-color: var(--beige);
  }
  h1, h2, h3, h4, h5, h6{
    margin: var(--tamano-4);
  }
  p{
    margin: var(--tamano-8);
  }
  h1{
    font: var(--h1);
  }
  h2{
    font: var(--h2);
  }
  h3{
    font: var(--h3);
  }
  h4{
    font: var(--h4);
  }
  h5{
    font: var(--h5);
  }
  h6{
    font: var(--h6);
  }
  p{
    font: var(--p);
  }
  b, strong{
    font: var(--p-b);
  }
  header, section, main{
    display: flex;
    padding: var(--tamano-1);
  }
  header, main{
    flex-direction: column;
    align-items: center;
  }
  .bolita{
    width: var(--tamano-1);
    height: var(--tamano-1);
    background-color: var(--azul-oscuro);
    border-radius: var(--borde-circulo);
  }
  .cuadrito{
    width: var(--tamano-1);
    height: var(--tamano-1);
    background-color: var(--verde);
    border-radius: var(--borde-todos);
  }
  section{
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
    width: 100%;
  }
  article{
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  